body {
background-image: url("img/background.jpg");
background-size: cover;
background-position-x: center;
background-repeat: no-repeat;
color:#fff;
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 200;
}

p {
    margin: 6px 0 0 0;
    padding: 0;
}

label {
    margin: 0 0 0 4px;
    font-size: 26px;
    font-weight: 600;
}

.mainbox {
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    margin: 28px auto;
    padding: 100px;
}

.logo {
    margin: 0 auto;
    background-image: url("img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 108px;
}

.payoff {
    text-align: center;
    color: #0d0;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
}

.buttons-bar {
    background-color: #0d0;
    padding: 13px 0 11px 0;
    text-align: center;
    margin-top: 5px;
}

.items {
    margin-top: 35px;
    max-width: 600px;
}

.address::before {
    content: url("img/arrow.png");
    margin-right: 6px;
}

.charge-bar {
    height: 30px;
    border-radius: 4px;
}

.charge-bar-orange {
    background-color: #f5b453;
    width: 58%;
}

.charge-bar-green {
    background-color: #1ec31e;
    width: 100%;
}

.charge-bar-red {
    background-color: #be4141;
    width: 25%;
}